
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome, @ViewData["names"]!</h1>

@{
    bool isAdmin = (bool)TempData["admin"];
    TempData["admin"] = isAdmin;
    if (isAdmin)
    {
        <a asp-action="Index" asp-controller="Users"><p>Register a new user @TempData["admin"]</p></a>
    }
}

<a asp-action="Logout" asp-controller="Main"><h2>Logout</h2></a>

